//- I use this datalink variable to quickly switch between using local assets and using uploaded assets.
- var datalink = "http://data.baltimoresun.com/news/violent-crime-2017/"
- var datalink = ""

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title Violent crime in Baltimore, 2012-2017
		meta(name="description", content="Violent crime in Baltimore spiked after 2015. Three years since that pivotal year, overall violent crime continues to climb in the city.")
		meta(name="author", content="The Baltimore Sun")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		//- Fonts and icons. Remove fontawesome if you are not using any custom icons.
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat|Droid+Serif|Noto+Serif|Inconsolata")
		link(rel="stylesheet" href=datalink + "css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css?1")

		//Facebook Stuff
		meta(property="og:title", content="Violent crime in Baltimore, 2012-2017")
		meta(property="og:url", content="http://data.baltimoresun.com/news/violent-crime-2017/")
		meta(property="og:image", content="http://data.baltimoresun.com/news/violent-crime-2017/images/thumb.jpg")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="Violent crime in Baltimore spiked after 2015. Three years since that pivotal year, overall violent crime continues to climb in the city.")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltsundata")
		meta(name="twitter:title", content="Violent crime in Baltimore, 2012-2017")
		meta(name="twitter:description", content="Violent crime in Baltimore spiked after 2015. Three years since that pivotal year, overall violent crime continues to climb in the city.")
		meta(name="twitter:image", content="http://data.baltimoresun.com/news/violent-crime-2017/images/thumb.jpg")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		include includes/ad-for-header.html

	body
		//- This omniture file will also add a topnav.
		//- Remember to update the omniture tags
		include includes/omniture.html

		.container
			section
				.width--normal.text
					.background
						img(src="images/crime.png")
						h1 Violent crime in Baltimore, 2012-2017
						p.byline By 
							a(href="http://www.baltimoresun.com/bal-jin-kim-20150615-staff.html" target="_blank") Jin Bae Kim
						.shareTools
							i.fa.fa-facebook
							i.fa.fa-twitter
				.width--normal.text
					p Violent crime in Baltimore spiked after 2015. That year, homicides jumped 62 percent to 344, a figure previously unseen since the ‘90s. Carjackings, shootings, and commercial robberies all skyrocketed as overall violent crime rose 7.6 percent.
					p Three years since that pivotal year, overall violent crime continues to climb in the city. Below, we look at how violent crime has changed in two distinct time periods — the three years before 2015 and the three years since.
					p.disclaimer *Data from Baltimore Police Department, current as of 12/1/2017
				.width--normal.media.media--chart
					h3 Violent Crimes Totals, 2012-2017
					canvas#overall
					p.source
						span Source: 
						| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
				.width--float.media.media--crimeDefs
					.wrapper.wrapper--stretch
						h3 Types of violent crime
						ul
							li
								p.crimeType Aggravated Assault
								p.definition An assault with any kind of weapon
							li
								p.crimeType Common Assault
								p.definition When someone uses their hands to assault you, such as a punch in the face
							li
								p.crimeType Homicide
								p.definition Killing of another person
							li
								p.crimeType Rape
								p.definition Unlawful sexual activity or intercourse carried out against the will of the other person or with someone who is incapable of valid consent
							li
								p.crimeType Robbery
								p.definition The use of violence or threat of violence to steal
							li
								p.crimeType Shooting
								p.definition Unlawful shooting of another person
				.width--normal.text
					p These three year segments, from 
						span 2012 to 2014 
						| and 
						span 2015 to 2017
						| , were chosen to highlight a turning point in recent city history.
					p From 2012 to 2014, the city saw steadily declining numbers in violent crime. Since then, in the past three years, numbers have increased. As the third year closes with this continuing trend, the city appears to have entered a new norm of increased violent crime.
					p Overall violent crime between these two time periods is up 9.5 percent. Most categories of violent crime either increased or stayed about the same, with the biggest percentage growths in homicides, shootings and robberies.
				.width--normal.media.media--chart
					h3 Violent Crimes by Type, 2012-2017
					canvas#byType
					p.source
						span Source: 
						| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
			section
				.width--normal.text
					h2 Homicides and Shootings
					p The 344 homicides that made 2015 such a deadly year may well be the new norm in the city as a third year closes with over 300 homicides.
					p Though homicides and shootings only make up a small percentage of overall violent crime, they saw one of the highest percentage jumps from 2015 to 2017.
					p.disclaimer *While this data is current as of 12/1/2017, homicides have since risen to 343, reaching a new record in killngs per capita. 
						a(href="http://www.baltimoresun.com/news/maryland/crime/bs-md-ci-per-capita-homicides-20171227-story.html" target="_blank") Read more.
				.width--normal.media.media--chart
					h3 Homicides and shootings, 2012-2017
					canvas#homicides
					p.source
						span Source: 
						| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
				.width--float.media.media--homicideTable
					.wrapper.wrapper--stretch
						h3 Areas with most shootings and homicides
						table
							tr
								th
								th 2012 - 2014
								th 2015 - 2017
								th % change
							tr
								td Sandtown-Winchester
								td 47
								td 121
								td 157%
							tr
								td Brooklyn
								td 32
								td 104
								td 225%
							tr
								td Central Park Heights
								td 41
								td 73
								td 78%
							tr
								td East Baltimore Midway
								td 25
								td 69
								td 176%
							tr
								td Broadway East
								td 39
								td 67
								td 72%
							tr
								td Belair-Edison
								td 47
								td 66
								td 40%
							tr
								td Upton
								td 38
								td 60
								td 58%
							tr
								td Coldstream Homestead Montebello
								td 34
								td 59
								td 74%
							tr
								td Carrollton Ridge
								td 25
								td 58
								td 132%
							tr
								td Mondawmin
								td 28
								td 57
								td 104%
							tr
								td Frankford
								td 34
								td 52
								td 53%
							tr
								td Harlem Park
								td 18
								td 48
								td 167%
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
				.width--normal.text
					p The neighborhoods with the most shootings and homicides today are largely the same ones from 2012-2014, but many saw massive spikes in numbers.
					p From 2012-2014, Sandtown-Winchester had 47 shootings and homicides, the most of any other neighborhood. Since then, Sandtown-Winchester still remains the deadliest neighborhood at 121 shootings and killings — 2.5 times its previous rate.
					p Moreover, 12 neighborhoods with the most shootings and homicides from 2015 to 2017 outpace the 47 shootings and homicides from Sandtown-Winchester pre-2015.
				.width--wide.media--time
					.wrapper.wrapper--stretch
						P Shootings and killings are also occurring earlier in the day now. From 2012 and 2014, 48 percent of shootings and homicides took place between 9 p.m. and 3 a.m. That figure is down to 40 percent between 2015 and 2017. Shootings and homicides between 9 a.m. and 9 p.m. are up 7 percentage points.
						h3 Percentage of homicides and shootings by hour
						.chartWrapper
							canvas#timeAM
						.chartWrapper
							canvas#timePM
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
			section
				.width--normal.text
					h2 Robberies
					p In raw numbers, robberies make up the bulk of the increase in violent crime in Baltimore. The city saw 3,875 more robberies between 2015 and 2017. Of these, street robberies are the most common.
				.width--normal.media.media--chart
					h3 Robberies by Type, 2012-2014, 2015-2017
					canvas#robberyType
					p.source
						span Source: 
						| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
				.width--normal.text
					p The areas targeted most in street robberies include both neighborhoods known to experience high crime as well as those that people view as safe from more serious crimes such as shootings or homicides.
					p Street robberies in downtown Baltimore outpace all other neighborhoods, occurring nearly twice as often as the next neighborhood.
				.width--float.media.media--stRobberyTable
					.wrapper.wrapper--stretch
						h3 Areas with most street robberies, 2012-2017
						table
							tr
								th
								th Street Robberies
								th Shootings and Homicides
							tr
								td Downtown
								td 500
								td 36
							tr
								td Frankford
								td 263
								td 52
							tr
								td Belair-Edison
								td 204
								td 66
							tr
								td Patterson Park Neighborhood
								td 193
								td 7
							tr
								td Brooklyn
								td 175
								td 104
							tr
								td Bolton Hill
								td 148
								td 1
							tr
								td Baltimore Highlands
								td 140
								td 13
							tr
								td Fells Point
								td 136
								td 12
							tr
								td Hamilton Hills
								td 136
								td 19
							tr
								td Charles Village
								td 135
								td 5
							tr
								td Canton
								td 133
								td 4
							tr
								td Mount Vernon
								td 131
								td 4
							tr
								td Ednor Gardens-Lakeside
								td 130
								td 7
							tr
								td Central Park Heights
								td 128
								td 73
							tr
								td Charles North
								td 125
								td 14
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
				.width--float.media.media--carjacking
					.wrapper
						h3 Baltimore carjackings, 2012-2017
						canvas#carjacking
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
				.width--normal.text
					p Carjackings saw the largest percentage increases over the past three years. Though it is still the least common type of robbery in Baltimore, it has seen the largest change out of all violent crimes.
					p Most of the areas targeted in these carjackings are places that previously saw very few incidents.
				.width--float.media.media--carjackingTable
					.wrapper.wrapper--stretch
						h3 Areas with most carjackings, 2012-2017
						table
							tr
								th 
								th 2012-2014
								th 2015-2017
							tr
								td Coldspring
								td 1
								td 37
							tr
								td Gwynns Falls
								td 2
								td 24
							tr
								td Upton
								td 5
								td 23
							tr
								td Penn North
								td 1
								td 21
							tr
								td Sandtown-Winchester
								td 5
								td 20
							tr
								td Frankford
								td 15
								td 19
							tr
								td Harlem Park
								td 2
								td 19
							tr
								td Penrose/Fayette Street Outreach
								td 4
								td 18
							tr
								td Poppleton
								td 5
								td 18
							tr
								td Reservoir Hill
								td 13
								td 18
							tr
								td Washington Village/Pigtown
								td 4
								td 18
							tr
								td Berea
								td 1
								td 17
							tr
								td Lakeland
								td 3
								td 17
							tr
								td Woodmere
								td 5
								td 17
							tr
								td Bolton Hill
								td 1
								td 16
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
				.width--normal.text
					p Commercial robberies have gone up 54 percent between the two time periods.
					p Most commercial robberies since 2012 occurred around the downtown area and major roads throughout the city. Similar to street robberies, downtown commercial robberies occured at twice the rate as the next neighborhood.
					p Major roads that are hit often include York Road, Reisterstown Road, Hartford Road, Belair Road, and Pulaski Highway.
					p Meanwhile, residential robberies are one of the few types of violent crime that went down over the past few years. Between 2015 and 2017, it’s dropped by about 6 percent.
					p Explore where these commercial and residential robberies occur in the map below.
				.width--normal.media
					.wrapper
						h3 Commercial and residential robberies, 2012-2017
						iframe(width="100%" height="520" frameborder="0" src="https://baltsun.carto.com/builder/44076805-8dc3-4c0f-9019-9f1aebd56349/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen)
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
			section
				.width--normal.text
					h2 Assaults
					p While aggravated and common assault are the most common of violent crimes, these did not change as drastically over the past three years. In fact, while the number of aggravated assault incidents rose 11 percent, common assault dropped 11 percent.
					p The areas with the most aggravated assault incidents pre-2015 remained the same ones with the most incidents between 2015 and 2017. Of those, Brooklyn, Central Park Heights, Dunbar-Broadway had the biggest increases at about 50 percent.
				.width--float.media.media--aggAssaultsTable
					.wrapper.wrapper--stretch
						h3 Areas with most aggravated assaults, 2012-2017
						table
							tr
								th 
								th 2012-2014
								th 2015-2017
								th % change
							tr
								td Sandtown-Winchester
								td 344
								td 431
								td 25%
							tr
								td Downtown
								td 386
								td 430
								td 11%
							tr
								td Brooklyn
								td 256
								td 392
								td 53%
							tr
								td Cherry Hill
								td 267
								td 331
								td 24%
							tr
								td Belair-Edison
								td 261
								td 312
								td 20%
							tr
								td Central Park Heights
								td 213
								td 304
								td 43%
							tr
								td Frankford
								td 277
								td 300
								td 8%
							tr
								td Upton
								td 231
								td 253
								td 10%
							tr
								td Carrollton Ridge
								td 203
								td 249
								td 23%
							tr
								td Broadway East
								td 216
								td 235
								td 9%
							tr
								td Coldstream Homestead Mont
								td 236
								td 222
								td -6%
							tr
								td Dunbar-Broadway
								td 134
								td 215
								td 60%
							tr
								td McElderry Park
								td 182
								td 197
								td 8%
							tr
								td Mondawmin
								td 181
								td 192
								td 6%
							tr
								td Ellwood Park/Monument
								td 162
								td 166
								td 2%
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
				.width--normal.text
					p Some other neighborhoods had fewer incidents but saw huge percentage increases in aggravated assault incidents.
				.width--float.media.media--aggAssaultSpikesTable
					.wrapper.wrapper--stretch
						h3 Aggravated assault spikes, 2012-2017
						table
							tr
								th 
								th 2015-2017
								th % change
							tr
								td Penn-Fallsway
								td 100
								td 270%
							tr
								td Middle Branch/Reedbird Parks
								td 83
								td 219%
							tr
								td Gwynns Falls
								td 69
								td 245%
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
				.width--normal.text.text--clear
					p Most neighborhoods with the most common assault incidents saw decreases over the past three years, but many of these neighborhoods are the same that saw spikes in aggravated assault, homicides, shootings and robberies.
					p Carroll - Canton Industrial Area bucked the trend and saw a 270 percent jump in common assaults from 63 incidents to 235.
			section
				.width--normal.text
					h2 Rape
					p The shift in the number of rape incidents appears to be scattered throughout neighborhoods. Some neighborhoods with the most incidents in the past, like downtown Baltimore, saw significant decreases, but overall numbers are up about 7 percent.
					p Most incidents occur in areas where other violent crime is prevalent.
				.width--float.media
					.wrapper.wrapper--stretch
						h3 Areas with most rapes, 2012-2017
						table
							tr
								th 
								th 2012-2014
								th 2015-2017
							tr
								td Downtown
								td 50
								td 37
							tr
								td Brooklyn
								td 22
								td 22
							tr
								td Belair-Edison
								td 15
								td 20
							tr
								td Sandtown-Winchester
								td 18
								td 20
							tr
								td Frankford
								td 25
								td 20
							tr
								td Carrollton Ridge
								td 12
								td 17
							tr
								td Cherry Hill
								td 18
								td 16
							tr
								td Upton
								td 9
								td 14
							tr
								td Baltimore Highlands
								td 4
								td 13
							tr
								td Central Park Heights
								td 5
								td 13
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
				.width--normal.media
					.wrapper
						h3 Baltimore rape incidents, 2012-2017
						iframe(width="100%" height="520" frameborder="0" src="https://baltsun.carto.com/builder/487c4b8e-2ea0-4068-970c-057e6c99872e/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen)
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
			section
				.width--normal.text
					h2 Firearms
					p The prevalence of guns in the streets may be contributing to the rise in violent crime. Between 2015 and 2017, 25 percent of violent crimes were committed using firearms, up 8 percent compared to 2012-2014.
				.width--float.media.media--weapons
					.wrapper
						h3 Weapons used in violent crimes, 2012-2017
						canvas#weapons
						p.source
							span Source: 
							| Baltimore Police Department Victim-Based Crime Data, 2012 - 12/1/2017
			section
				.width--normal.text
					h2 Further reading
					p
						a(href="http://www.baltimoresun.com/news/maryland/crime/bs-md-ci-per-capita-homicides-20171227-story.html" target="_blank") Baltimore has now had 343 homicides in 2017, sets record for killings per capita
					p
						a(href="http://www.baltimoresun.com/news/maryland/crime/bs-md-timeline-of-violence-in-baltimore-20171116-htmlstory.html" target="_blank") Graphic: A timeline of violence in Baltimore
					p
						a(href="http://data.baltimoresun.com/news/police/homicides/" target="_blank") Baltimore City Homicide Map
				#leaderboard
					include includes/ad-for-body.html

		//Javascript
		script(src=datalink + "js/min/jquery-3.0.0.min.js?1")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
		script(src=datalink + "js/app.js?1")
		//- script(src=datalink + "js/app.min.js")

